body {
    overflow-x: hidden;
    padding-top: 30px;
    padding-bottom: 30px;
}

a {
    cursor: pointer;
    color: inherit;
    font-weight: bold;
}

a:hover {
    text-decoration: none;
    color: inherit;
    opacity: 0.75;
}

a:hover #header{
    opacity: 0.9;
}

header.page {
    font-size: 120%;
    margin-bottom: 15px;
}

header.page small {
    margin-top: -30px;
    text-align: right;
    display: block;
}

#header {
    padding-top: 70px;
    padding-bottom: 40px;
    background-image: url(../img/icon-header.png);
    background-position: left bottom;
    background-repeat: no-repeat;
    margin-left: -30px;
    padding-left: 220px;
    margin-bottom: 23px;
    background-size: 206px 206px;
}

#header h1 {
    font-size: 49.5px;
}

#header .lead {
    margin-bottom: 0;
    font-size: 27px;
}

.container {
    max-width: 800px;
}

.navbar-inner {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    border-left: none;
    border-right: none;
}

.navbar .navbar-inner {
    min-height: 50px;
    padding-top: 10px;
}

#app>article {
    border: 1px solid #ddd;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

article.info {
    border: 1px solid #ddd;
    padding: 20px 40px;
}

ul.directory li .item {
    font-size: 130%;
    font-weight: normal;

    position: relative;

    padding-left: 30px;
    padding-right: 40px;

    padding-top: 30px;
    padding-bottom: 20px;

    background-size: 40px 56px;
}

ul.directory li .item i.chevron {
    position: absolute;
    top: 50%;
    right: 15px;
    margin-top: -2px;

    opacity: 0.25;
}

ul.directory .info a.more-info:hover i {
    opacity: 0.75;
}

ul.directory .info {
    display: none;
}

ul.directory ul, ul.directory ol {
    margin-bottom: 12px;
}

#poison-spinner {
    display: block;
    margin: auto;

    margin-top: 50px;
    margin-bottom: 20px;
}

@media (min--moz-device-pixel-ratio: 1.5),
(-o-min-device-pixel-ratio: 3/2),
(-webkit-min-device-pixel-ratio: 1.5),
(min-device-pixel-ratio: 1.5),
(min-resolution: 144dpi),
(min-resolution: 1.5dppx) {

    #header {
        background-image: url(../img/icon-header@2x.png);
    }
}

@media (max-width: 979px) and (min-width: 768px) {
    .navbar .container {
        width: 724px;
    }
}

@media (max-width: 767px) {

    header.page {
        text-align: center;
    }

    header.page small {
        text-align: center;
    }

    #header {
        padding-top: 200px;
        margin-left: 0;
        padding-left: 0;
        background-position: top center;
        border: none;
    }

    #header .lead {
        font-size: 1em;
    }

    .navbar, #app {
        margin-left: -20px;
        margin-right: -20px;
    }

    .navbar #filter {
        float: none;
        text-align: center;
    }

    .navbar #filter input {
        width: 90%;
        text-align: center;
    }

    #app .nav-tabs.nav-stacked>li>a {
        border-left: none;
        border-right: none;
    }

    #app .nav-tabs.nav-stacked>li:first-child>a {
        -webkit-border-top-right-radius: 0;
        -moz-border-radius-topright: 0;
        border-top-right-radius: 0;
        -webkit-border-top-left-radius: 0;
        -moz-border-radius-topleft: 0;
        border-top-left-radius: 0;
    }

    #app .nav-tabs.nav-stacked>li:last-child>a {
        -webkit-border-bottom-right-radius: 0;
        -moz-border-radius-bottomright: 0;
        border-bottom-right-radius: 0;
        -webkit-border-bottom-left-radius: 0;
        -moz-border-radius-bottomleft: 0;
        border-bottom-left-radius: 0;
    }

    ul.directory .info {
        padding-left: 20px;
        padding-right: 20px;
    }

    ul.directory li .item span {
        clear: both;
        display: block;
    }
}